* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.main-grid-container {
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;
  width: 70vw;
  margin: 10% 0;
}

.main-grid-container-top {
  display: grid;
  grid-template-rows: auto;
}

.main-grid-container-header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
}

.head-left-section {
  grid-area: 1 / 1 / 2 / 2;
}

.head-right-section {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-columns: auto auto;
}

.social-start-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
